/*
    超链接样式设置：
    1、链接的状态：（伪类）
        a:link - 正常的，未访问的链接
        a:visited - 用户访问过的链接
        a:hover - 用户将鼠标悬停在链接上时
        a:active - 链接被点击时
        a:hover 必须 a:link 和 a:visited 之后
        a:active 必须在 a:hover 之后
 */
 a{
     font-size: 22px;
     text-decoration: none;
     color: black;
     text-align: center;
 }
 a:hover{
     font-size: 23px;
     text-decoration: none;
     color: black;
     text-align: center;
     cursor: progress;
 }