/* 
    边框的相关设置：
    1、border-style 属性指定要显示的边框类型。
        dotted - 定义点线边框
        dashed - 定义虚线边框
        solid - 定义实线边框
        double - 定义双边框
        groove - 定义 3D 坡口边框。效果取决于 border-color 值
        ridge - 定义 3D 脊线边框。效果取决于 border-color 值
        inset - 定义 3D inset 边框。效果取决于 border-color 值
        outset - 定义 3D outset 边框。效果取决于 border-color 值
        none - 定义无边框
        hidden - 定义隐藏边框
    2、border-width 属性指定四个边框的宽度。
        设置时  如果是一个参数 则四条边都是
                如果是两个参数 则是第一个参数表示上下 第二个参数表示其他
                如果是三个参数 上 左和右 下
                如果是四个参数 则顺序为  上 右 下 左
    3、border-color 属性用于设置四个边框的颜色
        如果是四个参数的话 顺序为 上 右 下 左
    4、border后面如果跟着 top bottom right left可以分别设置各边
    5、border-radius 属性用于向元素添加圆角边框
        设置多少像素
    6、margin 外边距 属性用于在任何定义的边框之外，为元素周围创建空间
        margin-top
        margin-right
        margin-bottom
        margin-left
        允许是负数
        auto，以使元素在其容器中水平居中
        外边距合并指的是，当两个垂直外边距相遇时，它们将形成一个外边距，合并后的外边距的高度等于两个发生合并的外边距的高度中的较大者
    7、padding 内边距 属性用于在任何定义的边界内的元素内容周围生成空间
        padding-top
        padding-right
        padding-bottom
        padding-left
        不允许是负数
    8、width 和 heigth 是内容部分的宽度和高度  增加内边距外边距不会影响内容部分的尺寸
    9、outline用于设计边框的轮廓 不受尺寸影响
        outline-style
            dotted - 定义点状的轮廓。
            dashed - 定义虚线的轮廓。
            solid - 定义实线的轮廓。
            double - 定义双线的轮廓。
            groove - 定义 3D 凹槽轮廓。
            ridge - 定义 3D 凸槽轮廓。
            inset - 定义 3D 凹边轮廓。
            outset - 定义 3D 凸边轮廓。
            none - 定义无轮廓。
            hidden - 定义隐藏的轮廓。
        outline-color
            outline-color: invert，执行了颜色反转。这样可以确保无论颜色背景如何，轮廓都是可见的
        outline-width
        outline-offset
            outline-offset 属性在元素的轮廓与边框之间添加空间。元素及其轮廓之间的空间是透明的
    
*/
p{
    text-align: center;
}
.left{
    text-align: left;
    background-color: rgb(187, 187, 187);
    border-left-style: solid;
    border-left-color: red;
    border-left-width: 4px;
    height: 30px;
    vertical-align: middle;
    width: 100px;
}
.dotted{
    border-style: dotted;
    border-width: 1px;
    border-color: lightcoral;
}
.solid{
    border-style: solid;
    border-width: 1px;
}
.radius{
    border-radius: 5px;
    border-style: solid;
    border-color:red;
    border-width: 1px;
}